<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Tính thủy văn</title>
  <link rel="stylesheet" href="/vendors/feather/feather.css" />
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css" />
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css" />
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.semanticui.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" />
  <link rel="shortcut icon" href="https://thuyvanhhc.netlify.app/assets/img/logohhc.PNG" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="container-scroller">
    <%- include('setting.ejs') %>
    <div class="container-fluid page-body-wrapper">
      <%- include('menu.ejs') %>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="card-title">Sản lượng</p>
                    <div class="template-demo" style="display: flex;">
                      <button type="button" class="btn btn-primary btn-icon-text" id="exportData" data-toggle="modal" data-target="#updateData">
                        <i class="icon download btn-icon-prepend"></i>Thêm dữ liệu
                      </button>
                      <button class="btn btn-primary btn-rounded btn-icon" onclick="location.href='/exportSL'">
                        <i class="ti-download"></i>
                      </button>
                      <div id="rangeTime"
                        style="background: #fff; cursor: pointer; padding: 10px; border: 1px solid #ccc;">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table-striped ui celled table text-center" id="example">
                      <thead>
                        <tr>
                          <th rowspan="2">STT</th>
                          <th rowspan="2">Thời gian</th>
                          <th rowspan="2">Sản lượng điện (Kwh)</th>
                          <th colspan="2">Sản lượng lũy kế (Kwh)</th>
                          <th rowspan="2">Doanh thu (VNĐ)</th>
                          <th colspan="2">Doanh thu lũy kế (VNĐ)</th>
                          <!-- <th></th> -->
                        </tr>
                        <tr>
                          <th>Tháng</th>
                          <th>Năm</th>
                          <th>Tháng</th>
                          <th>Năm</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% table.forEach(function(item,i) { %>
                          <tr id="<%- item._id %>">
                            <td><%- i+1 %></td>
                            <td><%- item.time %></td>
                            <%if( item.electric_output === null ) {  %>
                              <td class="text-right" data-toggle="modal" data-target="#updateElectric<%- item._id %>">-</td>
                              <% } else { %>
                              <td class="text-right" data-toggle="modal" data-target="#updateElectric<%- item._id %>">
                                <%- new Intl.NumberFormat().format(item.electric_output) %> </td>
                              <% } %>
                            <td class="text-right"><%- new Intl.NumberFormat().format(item.accumulated_month) %></td>
                            <td class="text-right"><%- new Intl.NumberFormat().format(item.accumulated_year) %></td>
                            <%if( item.revenue === null ) {  %>
                              <td class="text-right" data-toggle="modal" data-target="#updateRevenue<%- item._id %>">-</td>
                              <% } else { %>
                              <td class="text-right" data-toggle="modal" data-target="#updateRevenue<%- item._id %>">
                                <%- new Intl.NumberFormat().format(item.revenue) %> </td>
                            <% } %>
                            <td class="text-right"><%- new Intl.NumberFormat().format(item.revenue_month) %></td>
                            <td class="text-right"><%- new Intl.NumberFormat().format(item.revenue_year) %></td> 
                            <td>
                                <div class="template-demo">
                                  <button class="btn btn-primary btn-rounded btn-icon"
                                    onclick="location.href='/admin/sanluong/delete/<%- item._id%>'">
                                    <i class="icon trash alternate outline"></i>
                                  </button>
                                </div>
                              </td> 
                          </tr>
                          <div id="updateElectric<%- item._id %>" class="modal fade" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <form action="/admin/sanluong/update/electric/<%- item._id%>" method="POST">
                                  <div class="modal-body">					
                                    <div class="form-group">
                                      <label>Sản lượng điện (MWh) (<%- item.time %>)</label>
                                      <input type="text" class="form-control" name="electric" id="electric" value="<%- item.electric_output %>">
                                    </div>				
                                  </div>
                                  <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary mr-2">Đồng ý</button>
                                    <button class="btn btn-light" data-dismiss="modal">Hủy</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                          <div id="updateRevenue<%- item._id %>" class="modal fade" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <form action="/admin/sanluong/update/revenue/<%- item._id%>" method="POST">
                                    <div class="modal-body">					
                                      <div class="form-group">
                                        <label>Doanh thu (VNĐ) (<%- item.time %>)</label>
                                        <input type="text" class="form-control" name="revenue" id="revenue" value="<%- item.revenue %>">
                                      </div>				
                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary mr-2">Đồng ý</button>
                                      <button class="btn btn-light" data-dismiss="modal">Hủy</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                  <div id="updateData" class="modal fade" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <form action="/admin/uploadExcel" method="POST" enctype="multipart/form-data">
                          <div class="modal-body">					
                            <div class="form-group">
                              <input type="file" class="form-control" name="excel" multiple>
                            </div>				
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary mr-2">Đồng ý</button>
                            <button class="btn btn-light" data-dismiss="modal">Hủy</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if(locals.success != '') { %>
    <script>
      window.onload = function() {
        Alert.success('<%- locals.success%>', 'Success', { displayDuration: 3000, pos: 'top' });
      };
    </script>
  <% } else if(locals.error != '') { %>  
    <script>
      window.onload = function() {
        Alert.error('<%- locals.error%>', 'Error', { displayDuration: 3000, pos: 'top' });
      };
    </script>
   <% } %>
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.semanticui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.semanticui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>
  <script>
    var Alert = undefined;
    (function (Alert) {
      var alert, error, trash, info, success, warning, _container;
      info = function (message, title, options) {
        return alert("info", message, title, "fa fa-info-circle", options);
      };
      warning = function (message, title, options) {
        return alert("warning", message, title, "fa fa-warning", options);
      };
      error = function (message, title, options) {
        return alert(
          "error",
          message,
          title,
          "fa fa-exclamation-circle",
          options
        );
      };

      trash = function (message, title, options) {
        return alert("trash", message, title, "fa fa-trash-o", options);
      };

      success = function (message, title, options) {
        return alert("success", message, title, "fa fa-check-circle", options);
      };
      alert = function (type, message, title, icon, options) {
        var alertElem, messageElem, titleElem, iconElem, innerElem, _container;
        if (typeof options === "undefined") {
          options = {};
        }
        options = $.extend({}, Alert.defaults, options);
        if (!_container) {
          _container = $("#alerts");
          if (_container.length === 0) {
            _container = $("<ul>").attr("id", "alerts").appendTo($("body"));
          }
        }
        if (options.width) {
          _container.css({
            width: options.width,
          });
        }
        alertElem = $("<li>")
          .addClass("alert")
          .addClass("alert-" + type);
        setTimeout(function () {
          alertElem.addClass("open");
        }, 1);
        if (icon) {
          iconElem = $("<i>").addClass(icon);
          alertElem.append(iconElem);
        }
        innerElem = $("<div>").addClass("alert-block");
        //innerElem = $("<i>").addClass("fa fa-times");
        alertElem.append(innerElem);
        if (title) {
          titleElem = $("<div>").addClass("alert-title").append(title);
          innerElem.append(titleElem);
        }
        if (message) {
          messageElem = $("<div>").addClass("alert-message").append(message);
          //innerElem.append("<i class="fa fa-times"></i>");
          innerElem.append(messageElem);
          //innerElem.append("<em>Click to Dismiss</em>");
          //      innerElemc = $("<i>").addClass("fa fa-times");
        }
        if (options.displayDuration > 0) {
          setTimeout(function () {
            leave();
          }, options.displayDuration);
        } else {
          innerElem.append("<em>Click to Dismiss</em>");
        }
        alertElem.on("click", function () {
          leave();
        });

        function leave() {
          alertElem.removeClass("open");
          alertElem.one(
            "webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend",
            function () {
              return alertElem.remove();
            }
          );
        }
        return _container.prepend(alertElem);
      };
      Alert.defaults = {
        width: "",
        icon: "",
        displayDuration: 3000,
        pos: "",
      };
      Alert.info = info;
      Alert.warning = warning;
      Alert.error = error;
      Alert.trash = trash;
      Alert.success = success;
      return (_container = void 0);
    })(Alert || (Alert = {}));

    this.Alert = Alert;
  </script>
  <script>
    var dateS, dateE;
    $(function () {
      var start = moment();
      var end = moment();

      function cb(start, end) {
        $('#rangeTime span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        dateS = start.format('YYYY-MM-DD');
        dateE = end.format('YYYY-MM-DD');
      }

      function getData(time) {
        let date = time.slice(8, 10)
        let num = Number(date);
        let add = (++num).toString().padStart(2, '0');
        let result = time.replace(date, add);
        return result;
      }

      $('#rangeTime').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, function (start, end) {
        cb(start, end)
        dateS = start.format('YYYY-MM-DD');
        dateE = end.format('YYYY-MM-DD');
      });

      cb(start, end)

      $('#downloadData').on('click', async function () {
        fetch('/download', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Expose-Headers': 'Content-Disposition'
          },
          body: JSON.stringify({
            dateStart: dateS,
            dateEnd: getData(dateE)
          })
        }).then(res => {
          const disposition = res.headers.get('Content-Disposition');
          filename = disposition.split(/;(.+)/)[1].split(/=(.+)/)[1];
          if (filename.toLowerCase().startsWith("utf-8''"))
            filename = decodeURIComponent(filename.replace(/utf-8''/i, ''));
          else
            filename = filename.replace(/['"]/g, '');
          return res.blob();
        })
          .then(blob => {
            var url = window.URL.createObjectURL(blob);
            var a = document.createElement('a');
            a.href = url;
            a.download = filename;
            document.body.appendChild(a);
            a.click();
            a.remove();
          });
      });
      
    });
  </script>
  <script>
    $(document).ready(function () {
      new DataTable("#example");
    });
  </script>
</body>

</html>