<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Tính thủy văn</title>
  <link rel="stylesheet" href="/vendors/feather/feather.css" />
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css" />
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css" />
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.semanticui.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="shortcut icon" href="https://thuyvanhhc.netlify.app/assets/img/logohhc.PNG" />
  <style>
    .template-demo>.btn {
      margin-top: 0px !important;
    }
    .ui.grid {
      margin: 0;
    }

    .dataTables_wrapper .dataTable .btn {
      padding: 0;
      vertical-align: 0;
    }

    .dataTables_wrapper .dataTable .btn i {
      font-size: 1rem;
      margin-right: 0;
    }
  </style>
</head>

<body>
  <div class="container-scroller">
    <%- include('setting.ejs') %>
    <div class="container-fluid page-body-wrapper">
      <%- include('menu.ejs') %>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="card-title">Tài khoản</p>
                    <div class="template-demo">
                      <button class="btn btn-primary btn-rounded btn-icon" onclick="location.href='/createAccount'">
                        <i class="ti-plus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table-striped ui celled table" id="example">
                      <thead>
                        <tr>
                          <th class="font-weight-bold">Tên người dùng</th>
                          <th>Tên tài khoản</th>
                          <th>Ngày đăng nhập</th>
                          <th>Trạng thái</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% table.forEach(function(item) { %>
                          <tr>
                            <td><%- item.name %></td>
                            <td><%- item.username %></td>
                            <td><%- item.timelogin %></td>
                            <td class="font-weight-medium">
                                <div class="badge badge-success">Completed</div>
                            </td>
                            <td>
                              <div class="template-demo">
                                <button class="btn btn-primary btn-rounded btn-icon"
                                  onclick="location.href='/account/edit/<%- item._id%>'">
                                  <i class="ti-pencil-alt"></i>
                                </button>
                                <button class="btn btn-primary btn-rounded btn-icon"
                                  onclick="location.href='/account/delete/<%- item._id%>'">
                                  <i class="ti-trash"></i>
                                </button>
                              </div>
                            </td>
                            <% }) %>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.semanticui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script>
    $(document).ready(function () {
      new DataTable("#example");
    });
  </script>
</body>

</html>