<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Tính thủy văn</title>
  <link rel="stylesheet" href="/vendors/feather/feather.css" />
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css" />
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css" />
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.semanticui.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" />
  <link rel="shortcut icon" href="https://thuyvanhhc.netlify.app/assets/img/logohhc.PNG" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="container-scroller">
    <%- include('setting.ejs') %>
    <div class="container-fluid page-body-wrapper">
      <%- include('menu.ejs') %>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="card-title">Tính toán</p>
                    <div class="template-demo">
                      <button type="button" class="btn btn-primary btn-icon-text" onclick="location.href='/createTT'">
                        <i class="icon plus btn-icon-prepend"></i>Tính toán
                      </button>
                      <button type="button" class="btn btn-primary btn-icon-text" id="exportData" onclick="location.href='/exportTT'">
                        <i class="icon download btn-icon-prepend"></i>Xuất dữ liệu
                      </button>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table-striped ui celled table text-center" id="example">
                      <thead>
                        <tr>
                          <th>Mực nước trước</th>
                          <th>Q về hồ (m3/s)</th>
                          <th>Q chạy máy (m3/s)</th>
                          <th>Q xả (m3/s)</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% table.forEach(function(item) { %>
                          <tr>
                            <td><%- item.nuoctruoc %></td>
                            <td><%- item.qho %></td>
                            <td><%- item.qmay %></td>
                            <td><%- item.qxa %></td>
                            <td>
                              <div class="template-demo">
                                <button class="btn btn-primary btn-rounded btn-icon"
                                  onclick="location.href='/tinhtoan/edit/<%- item._id%>'">
                                  <i class="icon edit outline"></i>
                                </button>
                                <button class="btn btn-primary btn-rounded btn-icon"
                                  onclick="location.href='/tinhtoan/delete/<%- item._id%>'">
                                  <i class="icon trash alternate outline"></i>
                                </button>
                              </div>
                            </td>
                            <% }) %>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if(locals.success != '') { %>
    <script>
      window.onload = function() {
        Alert.success('<%- locals.success%>', 'Success', { displayDuration: 3000, pos: 'top' });
      };
    </script>
  <% } else if(locals.error != '') { %>  
    <script>
      window.onload = function() {
        Alert.error('<%- locals.error%>', 'Error', { displayDuration: 3000, pos: 'top' });
      };
    </script>
   <% } %>
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.semanticui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    var Alert = undefined;
    (function (Alert) {
      var alert, error, trash, info, success, warning, _container;
      info = function (message, title, options) {
        return alert("info", message, title, "fa fa-info-circle", options);
      };
      warning = function (message, title, options) {
        return alert("warning", message, title, "fa fa-warning", options);
      };
      error = function (message, title, options) {
        return alert(
          "error",
          message,
          title,
          "fa fa-exclamation-circle",
          options
        );
      };

      trash = function (message, title, options) {
        return alert("trash", message, title, "fa fa-trash-o", options);
      };

      success = function (message, title, options) {
        return alert("success", message, title, "fa fa-check-circle", options);
      };
      alert = function (type, message, title, icon, options) {
        var alertElem, messageElem, titleElem, iconElem, innerElem, _container;
        if (typeof options === "undefined") {
          options = {};
        }
        options = $.extend({}, Alert.defaults, options);
        if (!_container) {
          _container = $("#alerts");
          if (_container.length === 0) {
            _container = $("<ul>").attr("id", "alerts").appendTo($("body"));
          }
        }
        if (options.width) {
          _container.css({
            width: options.width,
          });
        }
        alertElem = $("<li>")
          .addClass("alert")
          .addClass("alert-" + type);
        setTimeout(function () {
          alertElem.addClass("open");
        }, 1);
        if (icon) {
          iconElem = $("<i>").addClass(icon);
          alertElem.append(iconElem);
        }
        innerElem = $("<div>").addClass("alert-block");
        //innerElem = $("<i>").addClass("fa fa-times");
        alertElem.append(innerElem);
        if (title) {
          titleElem = $("<div>").addClass("alert-title").append(title);
          innerElem.append(titleElem);
        }
        if (message) {
          messageElem = $("<div>").addClass("alert-message").append(message);
          //innerElem.append("<i class="fa fa-times"></i>");
          innerElem.append(messageElem);
          //innerElem.append("<em>Click to Dismiss</em>");
          //      innerElemc = $("<i>").addClass("fa fa-times");
        }
        if (options.displayDuration > 0) {
          setTimeout(function () {
            leave();
          }, options.displayDuration);
        } else {
          innerElem.append("<em>Click to Dismiss</em>");
        }
        alertElem.on("click", function () {
          leave();
        });

        function leave() {
          alertElem.removeClass("open");
          alertElem.one(
            "webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend",
            function () {
              return alertElem.remove();
            }
          );
        }
        return _container.prepend(alertElem);
      };
      Alert.defaults = {
        width: "",
        icon: "",
        displayDuration: 3000,
        pos: "",
      };
      Alert.info = info;
      Alert.warning = warning;
      Alert.error = error;
      Alert.trash = trash;
      Alert.success = success;
      return (_container = void 0);
    })(Alert || (Alert = {}));

    this.Alert = Alert;
  </script>
  <script>
    $(document).ready(function () {
      new DataTable("#example");
    });
  </script>
</body>
</html>