<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Tính thủy văn</title>
  <link rel="stylesheet" href="/vendors/feather/feather.css" />
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css" />
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css" />
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.semanticui.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="shortcut icon" href="https://thuyvanhhc.netlify.app/assets/img/logohhc.PNG" />
  <style>
    .template-demo>.btn {
      margin-top: 0px !important;
    }
    .ui.grid {
      margin: 0;
    }

    .dataTables_wrapper .dataTable .btn {
      padding: 0;
      vertical-align: 0;
    }

    .dataTables_wrapper .dataTable .btn i {
      font-size: 1rem;
      margin-right: 0;
    }
  </style>
</head>

<body>
  <div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="/"><img
            src="https://thuyvanhhc.netlify.app/assets/img/logohhc.PNG" class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="/"><img
            src="https://thuyvanhhc.netlify.app/assets/img/logohhc.PNG" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now"
                aria-label="search" aria-describedby="search" />
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="https://thuyvanhhc.netlify.app/assets/img/logohhc.PNG" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Tổng quan</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tinhtoan">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Tính toán</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/buocxa">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Bước xả</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sanluong">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Sản lượng</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="card-title">Sản lượng</p>
                    <div class="template-demo" style="display: flex;">
                      <button class="btn btn-primary btn-rounded btn-icon" onclick="location.href='/createSL'">
                        <i class="ti-plus"></i>
                      </button>
                      <button class="btn btn-primary btn-rounded btn-icon" onclick="location.href='/exportSL'">
                        <i class="ti-export"></i>
                      </button>
                      <div id="rangeTime"
                      style="background: #fff; cursor: pointer; padding: 10px; border: 1px solid #ccc;">
                      <i class="fa fa-calendar"></i>&nbsp;
                      <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table-striped ui celled table text-center" id="example">
                      <thead>
                        <tr>
                          <th rowspan="2">STT</th>
                          <th rowspan="2">Thời gian</th>
                          <th rowspan="2">Sản lượng điện (Kwh)</th>
                          <th colspan="2">Sản lượng lũy kế (Kwh)</th>
                          <th rowspan="2">Doanh thu (VNĐ)</th>
                          <th colspan="2">Doanh thu lũy kế (VNĐ)</th>
                          <!-- <th></th> -->
                        </tr>
                        <tr>
                          <th>Tháng</th>
                          <th>Năm</th>
                          <th>Tháng</th>
                          <th>Năm</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% table.forEach(function(item,i) { %>
                          <tr id="<%- item._id %>">
                            <td><%- i+1 %></td>
                            <td><%- item.time %></td>
                            <%if( item.electric_output === null ) {  %>
                              <td class="text-right" data-toggle="modal" data-target="#updateElectric<%- item._id %>">-</td>
                              <% } else { %>
                              <td class="text-right" data-toggle="modal" data-target="#updateElectric<%- item._id %>">
                                <%- new Intl.NumberFormat().format(item.electric_output) %> </td>
                              <% } %>
                            <td class="text-right"><%- new Intl.NumberFormat().format(item.accumulated_month) %></td>
                            <td class="text-right"><%- new Intl.NumberFormat().format(item.accumulated_year) %></td>
                            <%if( item.revenue === null ) {  %>
                              <td class="text-right" data-toggle="modal" data-target="#updateRevenue<%- item._id %>">-</td>
                              <% } else { %>
                              <td class="text-right" data-toggle="modal" data-target="#updateRevenue<%- item._id %>">
                                <%- new Intl.NumberFormat().format(item.revenue) %> </td>
                            <% } %>
                            <td class="text-right"><%- new Intl.NumberFormat().format(item.revenue_month) %></td>
                            <td class="text-right"><%- new Intl.NumberFormat().format(item.revenue_year) %></td>  
                          </tr>
                          <div id="updateElectric<%- item._id %>" class="modal fade" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <form action="/sanluong/update/electric/<%- item._id%>" method="POST">
                                  <div class="modal-body">					
                                    <div class="form-group">
                                      <label>Sản lượng điện (Kwh) (<%- item.time %>)</label>
                                      <input type="text" class="form-control" name="electric" id="electric" value="<%- item.electric_output %>">
                                    </div>				
                                  </div>
                                  <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary mr-2">Đồng ý</button>
                                    <button class="btn btn-light" data-dismiss="modal">Hủy</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                          <div id="updateRevenue<%- item._id %>" class="modal fade" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <form action="/sanluong/update/revenue/<%- item._id%>" method="POST">
                                    <div class="modal-body">					
                                      <div class="form-group">
                                        <label>Doanh thu (VNĐ) (<%- item.time %>)</label>
                                        <input type="text" class="form-control" name="revenue" id="revenue" value="<%- item.revenue %>">
                                      </div>				
                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary mr-2">Đồng ý</button>
                                      <button class="btn btn-light" data-dismiss="modal">Hủy</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.semanticui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.semanticui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>
  <script>
    var dateS, dateE;
    $(function () {
      var start = moment();
      var end = moment();

      function cb(start, end) {
        $('#rangeTime span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        dateS = start.format('YYYY-MM-DD');
        dateE = end.format('YYYY-MM-DD');
      }

      function getData(time) {
        let date = time.slice(8, 10)
        let num = Number(date);
        let add = (++num).toString().padStart(2, '0');
        let result = time.replace(date, add);
        return result;
      }

      $('#rangeTime').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, function (start, end) {
        cb(start, end)
        dateS = start.format('YYYY-MM-DD');
        dateE = end.format('YYYY-MM-DD');
      });

      cb(start, end)

      $('#downloadData').on('click', async function () {
        fetch('/download', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Expose-Headers': 'Content-Disposition'
          },
          body: JSON.stringify({
            dateStart: dateS,
            dateEnd: getData(dateE)
          })
        }).then(res => {
          const disposition = res.headers.get('Content-Disposition');
          filename = disposition.split(/;(.+)/)[1].split(/=(.+)/)[1];
          if (filename.toLowerCase().startsWith("utf-8''"))
            filename = decodeURIComponent(filename.replace(/utf-8''/i, ''));
          else
            filename = filename.replace(/['"]/g, '');
          return res.blob();
        })
          .then(blob => {
            var url = window.URL.createObjectURL(blob);
            var a = document.createElement('a');
            a.href = url;
            a.download = filename;
            document.body.appendChild(a);
            a.click();
            a.remove();
          });
      });
      
    });
  </script>
  <script>
    $(document).ready(function () {
      new DataTable("#example");
    });
  </script>
</body>

</html>