<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Tính thủy văn</title>
  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css" />
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css" />
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.semanticui.min.css" />
  <link rel="shortcut icon" href="https://thuyvanhhc.netlify.app/assets/img/logohhc.PNG" />
  <style>
    .template-demo>.btn {
      margin-top: 0px !important;
    }

    .ui.grid {
      margin: 0;
    }

    .dataTables_wrapper .dataTable .btn {
      padding: 0;
      vertical-align: 0;
    }

    .dataTables_wrapper .dataTable .btn i {
      font-size: 1rem;
    }
  </style>
</head>

<body>
  <div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="/"><img
            src="https://thuyvanhhc.netlify.app/assets/img/logohhc.PNG" class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="/"><img
            src="https://thuyvanhhc.netlify.app/assets/img/logohhc.PNG" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now"
                aria-label="search" aria-describedby="search" />
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="https://thuyvanhhc.netlify.app/assets/img/logohhc.PNG" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Main</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tinhtoan">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Tính toán</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/buocxa">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Bước xả</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sanluong">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Sản lượng</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="card-title">Bước xả</p>
                  </div>
                  <div class="table-responsive">
                    <table class="table-striped table ui celled" id="example">
                      <thead>
                        <tr>
                          <th>Bước</th>
                          <th>Độ mở</th>
                          <th>Cửa xả</th>
                          <th>Cao trình 235</th>
                          <th>Cao trình 240</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% table.forEach(function(item) { %>
                          <tr>
                            <td class=" select-checkbox"><%- item.buoc %></td>
                            <td><%- item.domo %></td>
                            <td><%- item.cuaxa %></td>
                            <td><%- item.trinh235 %></td>
                            <td><%- item.trinh240 %></td>
                            <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.semanticui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>
  <script>
    $(document).ready(function () {
      new DataTable("#example");
    });
  </script>
</body>

</html>